- name: Run using a project directory
  hosts: all
  gather_facts: no
  tasks:
    - name: Tear down existing services
      community.docker.docker_compose:
        project_src: /home/crossroads/home-assistant
        state: absent

    - name: Create and start services
      community.docker.docker_compose:
        project_src: /home/crossroads/home-assistant

    - ansible.builtin.debug:
        var: output

    - name: Run `docker-compose up` again
      community.docker.docker_compose:
          project_src: /home/crossroads/home-assistant
          build: no

    - ansible.builtin.debug:
        var: output

    - ansible.builtin.assert:
        that: "not output.changed "

    - name: Stop all services
      community.docker.docker_compose:
        project_src: /home/crossroads/home-assistant
        build: no
        stopped: yes
        register: output

    - ansible.builtin.debug:
        var: output

    - ansible.builtin.assert:
        that:
          - "not homeassistant.state.running"

    - name: Restart services
      community.docker.docker_compose:
        project_src: /home/crossroads/home-assistant
        build: no
        restarted: yes
        register: output

    - ansible.builtin.debug:
        var: output

    - ansible.builtin.assert:
        that:
          - "not homeassistant.state.running"
